<meta charset="UTF-8">
<title>{:C('WEB_SITE_TITLE')}</title>
<meta charset="utf-8">
<meta name="keywords" content="有猿（有缘）网,编程,文艺青年,文学艺术,编程入门">
<meta name="description" content="有猿(有缘)网是面向编程初学者,即将学习编程的同学和热爱文学的青年的类容分享网站,
                                  她由软件工程师肖丛胜先生牵头创办。就目前国内的技术论坛来看，大部分都是属于培训机构的附庸，
                                  都是用来作为宣传手段，用来打广告的，没有一家真正的面向程序猿，网络工程师的类容分享网站
                                  有缘网的目标是做一个单纯的、干净的、让程序员热爱的、让文艺青年喜欢的内容分享网站！  ">
<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="__STATIC__/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link href="__STATIC__/bootstrap/css/docs.css" rel="stylesheet">
<link href="__STATIC__/bootstrap/css/onethink.css" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="__STATIC__/bootstrap/js/html5shiv.js"></script>
<![endif]-->
<block name="style"></block>
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<!--<![endif]-->
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
