<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <eq name="category" value="code">
                <h2>最新编程难题&nbsp;&nbsp;&nbsp;最新技术动态！</h2>
                <p class="lead"></p>
                <else/>
                <h2>写篇好文章&nbsp;&nbsp;&nbsp;感受好时光！</h2>
                <p class="lead"></p>
            </eq>
        </div>
    </header>
</block>

<block name="body">
    <div class="span9" style="  margin-top: 20px;border-style: dashed;border-color: burlywood;width: 1000px;margin-left: 100px;">
        <!-- Contents
        ================================================== -->

        <!--<article:list name="list" category="$category['id']" child="true">-->
        <volist name="data" id="list">
            <div  style="  width: 700px;margin-left: 80px;">
                <div class="">
                    <h3><a href="{:U('Article/detail?id='.$list['id'])}">{$list.title}</a></h3>
                </div>
                <div>
                    <p class="lead">{$list.description}</p>
                </div>
                <div>
                    <span><a href="{:U('Article/detail?id='.$list['id'])}">查看全文</a></span>
                    <span class="pull-right">
                        <span class="author">{$list.uid|get_username}</span>
                        <span>于 {$list.create_time|date='Y-m-d H:i',###}</span> 发表在 <span>
                        <a href="{:U('Article/lists?category='.get_category_name($list['category_id']))}">{$list.category_id|get_category_title}</a></span> 
                        <span>阅读( {$list.view} )</span>&nbsp;&nbsp;
                    </span>
                </div>
                <hr/>
            </div>
        </volist>
        <!-- 分页 -->
        <div class="onethink pagination pagination-right pagination-large" style="margin-right: 20%">
            {$_page}
        </div>

    </div>
    </div>
</block>
