<extend name="Base/common"/>

<block name="header">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/base-1.css">
    <script src="__JS__/jquery-1.10.2.min.js"></script>
    <script src="__JS__/superslide.2.1.js"></script>
    <script src="__JS__/index.js"></script>
    <block name="header">
        <header class="jumbotron subhead" id="overview">
            <div class="container">
                <h2>努力做一个很干净的类容分享网站！</h2>
                <p class="lead"></p>
            </div>
        </header>
    </block>
    <!--顶部banner图-->
    <!--<div class="banner">-->
    <!--<div class="bannercont">-->
    <!--<ul>-->
    <!--<li><img src="__PUBLIC__/Home/images/a1.jpg"></li>-->
    <!--<li><img src="__PUBLIC__/Home/images/a2.jpg"></li>-->
    <!--<li><img src="__PUBLIC__/Home/images/a3.jpg"></li>-->
    <!--<li><img src="__PUBLIC__/Home/images/a4.jpg"></li>-->
    <!--</ul>-->

    <!--</div>-->
    <!--<div class="hd">-->
    <!--<ul>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash;圆点&ndash;&gt;-->
    <!--<div class="pnBtn prev">-->
    <!--<a class="arrow" href="javascript:void(0)"></a>-->
    <!--</div>-->
    <!--<div class="pnBtn next">-->
    <!--<a class="arrow" href="javascript:void(0)"></a>-->
    <!--</div>-->
    <!--</div>-->

</block>

<block name="body">
    <div class="news">
        <div class="sections">
            <h3>技术天地</h3>
            <ul>
                <volist name="code" id="code_data">
                    <li >
                        <h4>
                            <a href="{:U('Article/detail?id='.$code_data['id'])}">{$code_data.title}</a>
                        </h4>
                        <a  >{$code_data.description}</a>
                        <a  >{$code_data.uid|get_username} 于 {$code_data.create_time|date='Y-m-d H:i',###} 发表在  阅读( {$code_data.view} )</a>
                    </li>
                </volist>
            </ul>
            <ul>
                <li>
                    <a href="{:U('Article/index?category=code')}" class="list_hover" target="_blank">more>></a>
                </li>
            </ul>
        </div>
        <div class="sections">
            <h3>文艺天地</h3>
            <ul>
                <volist name="default_blog" id="blog">
                    <li >
                        <h4>
                            <a href="{:U('Article/detail?id='.$blog['id'])}">{$blog.title}</a>
                        </h4>
                        <a >{$blog.description}</a>
                        <a>{$blog.uid|get_username} 于 {$blog.create_time|date='Y-m-d H:i',###} 发表在  阅读( {$blog.view} )</a>
                    </li>
                </volist>

            </ul>
            <ul>
                <li>
                    <a href="{:U('Article/index?category=default_blog')}" class="list_hover" target="_blank">more>></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div><h1>视频推荐！！</h1></div>
    <div class="">
        <section id="portfolio">
            <div class="row items">
                <div class="twelve columns">
                    <div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third mob-bgrid-half group">
                        <div class="bgrid item">
                            <div class="item-wrap">
                                <a href="{:U('Video/detail?id='.$vo['id'])}" target="_blank">
                                    <img src="__IMG__/vedio/videoc.png" alt="Grizzly">
                                    <div class="overlay"></div>
                                    <div class="portfolio-item-meta">
                                        <h5>C语言视频</h5>
                                        <p>C语言也能干大事儿</p>
                                    </div>
                                </a>
                            </div>
                        </div> <!-- /item -->




                    </div> <!-- /portfolio-wrapper -->

                </div> <!-- /twelve -->

            </div>  <!-- /row -->

        </section> <!-- /Portfolio -->

    </div>
    <div class="clearfix"></div>

</block>





