<extend name="Base/common"/>

<block name="header">
<link rel="stylesheet" href="__CSS__/info.css">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>

<block name="body">
    <div class="content">
        <h1>
            <span>谈笑间学会javascript（最易入门的JS课程）</span>
        </h1>
        <h4>发布时间：2015.1.1</h4>
        <div class="text">

            JS与DOM的关系变量控制结构对象操作window对象开关灯泡找对象操作对象 暴力操作节点联动菜单定时器 setTimeout定时器 setInterval常见事件
            JS与DOM的关系变量控制结构对象操作window对象开关灯泡找对象操作对象 暴力操作节点联动菜单定时器 setTimeout定时器 setInterval常见事件
            JS与DOM的关系变量控制结构对象操作window对象开关灯泡找对象操作对象 暴力操作节点联动菜单定时器 setTimeout定时器 setInterval常见事件
            JS与DOM的关系变量控制结构对象操作window对象开关灯泡找对象操作对象 暴力操作节点联动菜单定时器 setTimeout定时器 setInterval常见事件
            JS与DOM的关系变量控制结构对象操作window对象开关灯泡找对象操作对象 暴力操作节点联动菜单定时器 setTimeout定时器 setInterval常见事件
            JS与DOM的关系变量控制结构对象操作window对象开关灯泡找对象操作对象 暴力操作节点联动菜单定时器 setTimeout定时器 setInterval常见事件
            JS与DOM的关系变量控制结构对象操作window对象开关灯泡找对象操作对象 暴力操作节点联动菜单定时器 setTimeout定时器 setInterval常见事件
            JS与DOM的关系变量控制结构对象操作window对象开关灯泡找对象操作对象 暴力操作节点联动菜单定时器 setTimeout定时器 setInterval常见事件
            JS与DOM的关系变量控制结构对象操作window对象开关灯泡找对象操作对象 暴力操作节点联动菜单定时器 setTimeout定时器 setInterval常见事件
            JS与DOM的关系变量控制结构对象操作window对象开关灯泡找对象操作对象 暴力操作节点联动菜单定时器 setTimeout定时器 setInterval常见事件
            JS与DOM的关系变量控制结构对象操作window对象开关灯泡找对象操作对象 暴力操作节点联动菜单定时器 setTimeout定时器 setInterval常见事件







        </div>





    </div>







</block>
