<extend name="Base/common"/>

<block name="header">
    <link rel="stylesheet" href=" __CSS__/bootstrap.min.css">
    <link rel="stylesheet" href=" __CSS__/video.css">

    <script src="__JS__/bootstrap.min.js"></script>
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>

<block name="body">
    <div class="title">
        <h2>C语言也能干大事之C语言</h2>
    </div>
    <div class="clearfix"></div>
    <div class="container pmb-container">
        <div class="row" id="tab1">
            <div class="col-md-8 col-sm-7 pmb-table">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" myname="chapter" data-parent="#accordion" href="http://www.rupeng.com/Courses/Index/34#collapse_162" aria-expanded="true" aria-controls="collapse_162">
                                    第一章：HTML基础
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_162" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">

                                <ul>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1712" target="_blank">第 1 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1712" target="_blank">1-学前说明</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1713" target="_blank">第 2 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1713" target="_blank">2-学习路线图</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1714" target="_blank">第 3 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1714" target="_blank">3-VS新建html文件的办法</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1715" target="_blank">第 4 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1715" target="_blank">4-html入门介绍</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1716" target="_blank">第 5 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1716" target="_blank">5-常用标签：字体和特殊字符</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>


                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" myname="chapter" data-parent="#accordion" href="http://www.rupeng.com/Courses/Index/34#collapse_163" aria-expanded="true" aria-controls="collapse_163" class="collapsed">
                                    第二章：C语言编写第一个网站
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_163" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">

                                <ul>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1723" target="_blank">第 1 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1723" target="_blank">1-网站原理：请求处理响应</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1724" target="_blank">第 2 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1724" target="_blank">2-开发动态网站需要什么</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1725" target="_blank">第 3 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1725" target="_blank">3-apache配置</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1726" target="_blank">第 4 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1726" target="_blank">4-编写第一个CGI程序</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1727" target="_blank">第 5 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1727" target="_blank">5-编写CGI可能遇到的问题</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" myname="chapter" data-parent="#accordion" href="http://www.rupeng.com/Courses/Index/34#collapse_164" aria-expanded="true" aria-controls="collapse_164" class="collapsed">
                                    第三章：Http协议和指针
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_164" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">

                                <ul>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1730" target="_blank">第 1 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1730" target="_blank">1-练习常见问题</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1731" target="_blank">第 2 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1731" target="_blank">2-什么是通讯协议</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1732" target="_blank">第 3 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1732" target="_blank">3-Http协议（会有微晕）</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1733" target="_blank">第 4 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1733" target="_blank">4-Http协议实验和重定向</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1734" target="_blank">第 5 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1734" target="_blank">5-CGI程序的调试</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" myname="chapter" data-parent="#accordion" href="http://www.rupeng.com/Courses/Index/34#collapse_166" aria-expanded="true" aria-controls="collapse_166" class="collapsed">
                                    第四章：C语言网站开发框架
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_166" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">

                                <ul>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1777" target="_blank">第 1 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1777" target="_blank">1-CGIC框架简介</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1778" target="_blank">第 2 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1778" target="_blank">2-CGIC原理揭秘</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1779" target="_blank">第 3 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1779" target="_blank">3-cgiFormString及案例</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1780" target="_blank">第 4 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1780" target="_blank">4-cgiHeaderLocation及常见错误</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1781" target="_blank">第 5 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1781" target="_blank">5-表单提交1</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" myname="chapter" data-parent="#accordion" href="http://www.rupeng.com/Courses/Index/34#collapse_168" aria-expanded="true" aria-controls="collapse_168" class="collapsed">
                                    第五章：模板引擎
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_168" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">

                                <ul>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1792" target="_blank">第 1 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1792" target="_blank">1-没有模板引擎的痛苦</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1793" target="_blank">第 2 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1793" target="_blank">2-模板引擎是什么</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1794" target="_blank">第 3 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1794" target="_blank">3-给模板参数赋值</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1795" target="_blank">第 4 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1795" target="_blank">4-模板引擎案例：计算器</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>
                                    <li class="d">
                                        <div class="count col-md-2"><a href="http://www.rupeng.com/Segments/Index/1796" target="_blank">第 5 节</a></div>
                                        <div class="lt col-md-9">
                                            <a href="http://www.rupeng.com/Segments/Index/1796" target="_blank">5-模板引擎中的循环参数</a>

                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>






</block>
